<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->
    <param name="use_sim_time" value="true" />
    <arg name="rviz" default="true" />
    <arg name="autorun" default="false"/>
    <rosparam command="load" file="$(find fast_lio_m)/config/NTUviral.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio_m" type="fastlio_mapping" name="laserMapping" output="screen" /> 

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_m)/rviz_cfg/ntu_viral_follow_body.rviz" />
    </group>

    <node pkg="rosbag" required="$(arg autorun)" type="play" name="bag_play" args="/media/ywl/T7/dataset/NTU/rtp_03/rtp_03.bag --clock -r 2"/>

    <node pkg="tf" type="static_transform_publisher" name="w2base" args="0 0 0 0 -3.14 0 world camera_init 1000" />
</launch>
